html {
    background-color: #424242;
    color: #FFFFFF;
    font-family: Arial, serif;
}

nav {
    display: flex;
    justify-self: flex-start;
}

.logo {
    display: flex;
    justify-content: flex-start;
    color: coral;
    font-size: 20px;
}