@import "header.css";
@import "main.css";
@import "title.css";
@import "nav.css";
@import "columns.css";
@import "footer.css";

html {
    background: #424242;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 0;
    max-width: 1600px;
}